body {
    object-fit:cover;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSp_2-Qj-r_bV2KXq2yqgZWic7dEbwrdvPMQ&s');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header{
    background-color:lightblue;
    padding: 35px;
    text-align: center;
}
.footer {
    background-color:lightblue;
    padding: 45px;
    text-align: center;
}

.header a {
    color: #0000ff;
    margin: 0 15px;
}
.footer a {
    color: #0000ff;
    margin: 0 15px;
}
.content {
    display: flex;
    padding: 20px;
}

.content .left{
    width: 30%;
    background-color: #f4a460; 
    padding: 20px;
    margin: 10px;
}
.content .right{
    width: 75%;
    background-color: #f4a460; 
    padding: 20px;
    margin: 10px;
}

.content .left {
    background-color: #f4a460; 
    color: #000000; 
}

.content .right {
    background-color: #ff6347;
    color: #ffffff; 
}